.content__title{
    font-family: Inter;
    font-weight: 900;
    color: white;
    font-size: 96px;
    line-height: 100px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 1;
    margin-bottom: 32px;
    font-weight: bold;
}

.content__subtitle{
    margin-bottom: 64px;
    opacity: 1;
    font-family: Inter;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: center;
    color: white;
}

.content__image{
    display: flex;
    max-width: 50%;
    margin: 0 auto;
    width: 984;
    height: 615;
    top: 562px;
    left: 148px;
    opacity: 1;
}