.photo-grid{
    max-width: 1184px;
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    gap: 16px;
    margin-bottom: 92px;
}

.photo-grid__item{
    width: 100%;
}