.header{
display: flex;
}

.header__logo{
    margin: 0 auto;
    margin-top: 34px;
    max-width: 720px;
    margin-bottom: 90px;
}

@media (max-width: 768px) {
    .header__logo{
    max-width: 254px;
    height: 66px;
    top: 30px;
    left: 257px;
    }
}