.intro{
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    max-width: 984px;
}

.intro__title{
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    max-width: 830px;
    margin-bottom: 40px;
    letter-spacing: -0.06em;
}

.intro__paragraph{
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    max-width: 738px;
    margin-bottom: 10px;
    letter-spacing: 0.028em;
}

.intro__author{
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    text-align: right;
    max-width: 732px;
    margin-bottom: 32px;
}

.intro__description{
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
    max-width: 722px;
    margin-bottom: 92px;
    letter-spacing: 0.028em;
}

 @media (max-width: 768px){
        .intro{
            padding-left: 16px;
            padding-right: 16px;
        }

        .intro__title{
            font-size: 45px;
            line-height: 49px;
        }
        .intro__description{
            font-size: 24px;
            line-height: 34px;
        }

        .intro__author{
            font-size: 24px;
            line-height: 34px;
        }

        .intro__paragraph{
            font-size: 16px;
            line-height: 163%;
        }
    }

    @media (max-width: 544px){
        .intro{
            padding-left: 16px;
            padding-right: 16px;
        }

        .intro__title{
            font-size: 32px;
            line-height: 35px;
        }

        .intro__description{
            line-height: 30px;
            font-size: 24px;
        }

        .intro__author{
            line-height: 34px;
            font-size: 24px;
        }

        .intro__paragraph{
            line-height: 163%;
            font-size: 16px;
        }
    }